
.ipynb_checkpoints/odinson dev 20211114-checkpoint.ipynb
*.pyc
.ipynb_checkpoints/odinson-checkpoint.py
.ipynb_checkpoints/odinson dev 20211114-checkpoint.ipynb
.ipynb_checkpoints/odinson dev 20211114-checkpoint.ipynb
